.navbar {
  background-color: $pink;
  color: $textWhite;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: space-between;
  }
}
