.navbar {
  background-color: $pink;
  color: $textWhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: space-between;
  }
  .icon {
    display: block;
  }
}
@media only screen and (min-width: 700px) {
  .navbar {
    justify-content: space-between;
  }
  .icon {
    display: none;
  }
  .navmobile {
    display: none !important;
  }
}
.fas fa-times {
  color: white !important;
  display: block;
  cursor: pointer;
}

.navmobile {
  display: block;
  transition: 0.7s ease 0s;
  background-color: $beige;
  padding: 10%;
  /*   display: none; */
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 50%;
  align-items: center;
}

.hidden {
  right: 100vw;
  left: -50vw;
}

.navmobile a {
  font-size: 30px;
  color: $textBlack;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa-times-circle {
  color: $textBlack;
  font-size: 20px;
  cursor: pointer;
}
