#section3 {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  h3 {
    display: block;
  }
  h2 {
    display: none;
  }
  .iconItem {
    .imgBorder {
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: 700px) {
    h3 {
      display: none !important;
    }
    h2 {
      display: block !important;
    }
    .icon_wrapper {
      display: flex;
      flex-wrap: wrap;
      .iconItem {
        flex: 0 0 33.333333%;
      }
    }
  }
}
