@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$headingFont: "Alfa Slab One", cursive;
$bodyFont: "DM Sans", sans-serif;
h1,
h2,
h3 {
  font-family: $headingFont;
}
h4,
h5 {
  font-family: $bodyFont;
}

.text,
a {
  font-family: $bodyFont;
  color: $textWhite;
}

.input {
  font-family: $bodyFont;
}
