.nav_button {
  color: white;
  padding: 10px 40px;
  border: 2px solid rgba($color: $textWhite, $alpha: 0.3);
  border-radius: 5%;
  &:hover {
    background-color: darken($primaryColor, 5%);
    transition: all 0.4s ease 0s;
  }
}

.button_white {
  padding: 10px 40px;
  border: 2px $textBlack solid;
  border-radius: 5%;
  background-color: white;
  color: $textBlack;
  cursor: pointer;
  &:hover {
    color: #ffffff !important;
    background: $darkPink;
    border-color: $darkPink !important;
    transition: all 0.4s ease 0s;
  }
}

.button_pink {
  padding: 12px 42px;
  border-radius: 5%;
  background-color: $primaryColor;
  color: $textWhite;
  cursor: pointer;
  &:hover {
    background-color: darken($primaryColor, 15%);
    transition: all 0.4s ease 0s;
  }
}

.button_transparant {
  padding: 10px 40px;
  color: $primaryColor;
  background-color: transparent;
  border: 2px solid rgba($color: $primaryColor, $alpha: 0.3);
  border-radius: 5%;
  cursor: pointer;
  &:hover {
    color: #ffffff !important;
    background: $darkPink;
    border-color: $darkPink !important;
    transition: all 0.4s ease 0s;
  }
}

.button_wrapper {
  margin-bottom: 3%;
  margin-top: 3%;
}
