.nav_button {
  color: white;
  padding: 10px 40px;
  border: 2px solid rgba($color: $textWhite, $alpha: 0.3);
  border-radius: 5%;
  &:hover {
    color: $textBlack;
  }
}

.button_white {
  padding: 10px 40px;
  border: 2px $textBlack solid;
  border-radius: 5%;
  background-color: white;
  color: $textBlack;
}

.button_pink {
  padding: 12px 42px;
  border-radius: 5%;
  background-color: $primaryColor;
  color: $textWhite;
}

.button_transparant {
  padding: 10px 40px;
  color: $primaryColor;
  background-color: transparent;
  border: 2px solid rgba($color: $primaryColor, $alpha: 0.3);
  border-radius: 5%;
  &:hover {
    color: $textBlack;
  }
}

.button_wrapper {
  margin-bottom: 35px;
}
