@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3 {
  font-family: "Alfa Slab One", cursive; }

h4,
h5 {
  font-family: "DM Sans", sans-serif; }

.text,
a {
  font-family: "DM Sans", sans-serif;
  color: #ffffff; }

.input {
  font-family: "DM Sans", sans-serif; }

.nav_button {
  color: white;
  padding: 10px 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5%; }
  .nav_button:hover {
    color: #333333; }

.button_white {
  padding: 10px 40px;
  border: 2px #333333 solid;
  border-radius: 5%;
  background-color: white;
  color: #333333; }

.button_pink {
  padding: 12px 42px;
  border-radius: 5%;
  background-color: #be6361;
  color: #ffffff; }

.button_transparant {
  padding: 10px 40px;
  color: #be6361;
  background-color: transparent;
  border: 2px solid rgba(190, 99, 97, 0.3);
  border-radius: 5%; }
  .button_transparant:hover {
    color: #333333; }

.button_wrapper {
  margin-bottom: 3%;
  margin-top: 3%; }

input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #dadada;
  border-radius: 5%;
  margin-bottom: 3%; }

@media only screen and (min-width: 700px) {
  input {
    width: 60%; } }

h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 500; }

h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 500; }

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500; }

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600; }

h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #be6361;
  padding-top: 15px;
  padding-bottom: 15px; }

a {
  text-decoration: none;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px; }

.text {
  font-family: "DM Sans", sans-serif;
  color: #333333;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .text_small {
    font-size: 12px; }
  .text_grey {
    font-weight: normal;
    color: rgba(51, 51, 51, 0.5);
    padding-top: 10px;
    padding-bottom: 40px; }
  .text_big {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal; }

.label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600; }

input {
  padding-left: 5%;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  color: rgba(51, 51, 51, 0.5);
  line-height: 24px;
  font-size: 16px; }

.mobileIcon {
  display: block; }

@media only screen and (min-width: 700px) {
  .mobileIcon {
    display: none; } }

ul li {
  display: flex;
  align-items: center; }
  ul li .text {
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px; }

@media only screen and (max-width: 700px) {
  .nav-elements,
  .nav_button {
    display: none; } }

.nav-elements {
  list-style-type: none; }
  .nav-elements .nav-element {
    display: inline-block;
    padding: 20px 20px; }

.submitInput {
  padding-top: 15px; }

@media only screen and (max-width: 700px) {
  .submitInput {
    text-align: center; }
    .submitInput .button_white {
      float: left; } }

.iconItem .imgBorder {
  position: relative;
  width: 170px;
  height: 170px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 1px 1px 1px 1px #e5e5e5;
  -moz-box-shadow: 1px 1px 1px 1px #e5e5e5;
  box-shadow: 1px 1px 1px 1px #e5e5e5; }
  .iconItem .imgBorder img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.iconItem .iconNumber {
  font-family: "Alfa Slab One", cursive;
  color: rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 5px;
  left: 5px; }

ul {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px; }

.navbar {
  color: #ffffff;
  background-color: #ff8482;
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: flex-end !important; } }

#section1 {
  background-color: #ff8482;
  padding-left: 5%;
  padding-right: 5%; }
  #section1 h5,
  #section1 h2 {
    display: block;
    color: #ffffff;
    hyphens: auto; }
  #section1 h1 {
    display: none; }
  #section1 img {
    width: 100%; }

@media only screen and (min-width: 700px) {
  #section1 {
    display: flex;
    align-items: center; }
    #section1 h2 {
      display: none !important; }
    #section1 h1 {
      display: block !important;
      color: #ffffff; }
    #section1 .section1_text {
      flex: 1; }
    #section1 img {
      display: inline;
      width: 50%;
      flex: 1; } }

#section2 {
  background-color: #fff2dd;
  padding-left: 5%;
  padding-right: 5%; }
  #section2 h5,
  #section2 h2 {
    display: block; }
  #section2 h1 {
    display: none; }
  #section2 img {
    width: 100%; }
  #section2 .button_wrapper {
    padding-bottom: 35px; }

@media only screen and (min-width: 700px) {
  #section2 {
    display: flex;
    align-items: center; }
    #section2 h2 {
      display: none !important; }
    #section2 h1 {
      display: block !important; }
    #section2 .section2_text {
      flex: 1; }
    #section2 img {
      display: inline;
      width: 50%;
      flex: 1; } }

#section3 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center; }
  #section3 h3 {
    display: block; }
  #section3 h2 {
    display: none; }
  #section3 .iconItem .imgBorder {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  @media only screen and (min-width: 700px) {
    #section3 h3 {
      display: none !important; }
    #section3 h2 {
      display: block !important; }
    #section3 .icon_wrapper {
      display: flex;
      flex-wrap: wrap; }
      #section3 .icon_wrapper .iconItem {
        flex: 0 0 33.333333%; } }

#section4 {
  background-color: #fff2dd;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%; }
  #section4 h3 {
    display: block; }
  #section4 h2 {
    display: none; }
  #section4 .image_wrapper {
    padding-top: 20px; }
    #section4 .image_wrapper img {
      width: 100%; }
  @media only screen and (min-width: 700px) {
    #section4 {
      display: flex;
      align-items: center; }
      #section4 h3 {
        display: none !important; }
      #section4 h2 {
        display: block !important; }
      #section4 .section4_text {
        flex: 1; }
      #section4 .image_wrapper {
        padding-top: 20px;
        flex: 1;
        width: 50%; }
        #section4 .image_wrapper img {
          width: 100%;
          display: inline; } }
