@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Alfa Slab One", cursive; }

h1 {
  font-size: 72px;
  line-height: 80px; }

h2 {
  font-size: 56px;
  line-height: 64px; }

h3 {
  font-size: 40px;
  line-height: 48px; }

p,
a {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  padding: 15px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px; }

a {
  text-decoration: none; }

.label {
  font-family: "DM Sans", sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600; }

.nav_button {
  color: white;
  padding: 10px 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5%; }
  .nav_button:hover {
    color: #333333; }

.button_section1,
.button_section5 {
  padding: 10px 40px;
  border: 2px #333333 solid;
  border-radius: 5%;
  background-color: white;
  color: #333333; }

.button_section2,
.button_section3 {
  padding: 10px 40px;
  border-radius: 5%;
  background-color: #be6361;
  color: #ffffff; }

.button_section4 {
  padding: 10px 40px;
  color: #be6361;
  border: 2px solid rgba(190, 99, 97, 0.3);
  border-radius: 5%; }
  .button_section4:hover {
    color: #333333; }

input[type="text"] {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #dadada;
  border-radius: 5%; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  background: red; }
  header button {
    background: #be6361; }
    header button:hover {
      background: yellow; }

.navbar {
  color: #ffffff;
  background-color: #be6361;
  display: flex;
  justify-content: space-between; }
  .navbar .nav-button {
    padding: 10px 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    border-radius: 5%; }
    .navbar .nav-button:hover {
      color: #333333; }
  .navbar .mobileIcon {
    display: none; }
  @media only screen and (max-width: 700px) {
    .navbar .mobileIcon {
      display: block; } }

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: flex-end !important; } }

.nav-elements {
  list-style-type: none; }
  .nav-elements .nav-element {
    display: inline-block;
    padding: 20px 20px; }
    .nav-elements .nav-element a {
      text-decoration: none; }
      .nav-elements .nav-element a:hover {
        color: #333333; }

@media only screen and (max-width: 700px) {
  .nav-elements,
  .nav-button {
    display: none; } }

* {
  box-sizing: border-box;
  margin: auto; }
