//mobile
@media only screen and (max-width: 700px) {
  .nav_elements,
  .nav_button {
    display: none;
  }
}

// full width
.nav_elements {
  list-style-type: none;
  .nav_element {
    display: inline-block;
    padding: 20px 20px;
    a {
      &:hover {
        color: $textBlack;
      }
    }
  }
}
