.navbar {
  color: $textWhite;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  .nav-button {
    padding: 10px 40px;
    border: 1px solid rgba($color: $textWhite, $alpha: 0.3);
    font-weight: bold;
    color: $textWhite;
    border-radius: 5%;
    &:hover {
      color: $textBlack;
    }
  }
  .mobileIcon {
    display: none;
  }
  @media only screen and (max-width: 700px) {
    .mobileIcon {
      display: block;
      align-self: flex-end;
    }
  }
}
@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: flex-end !important;
  }
}
.nav-elements {
  list-style-type: none;
  .nav-element {
    display: inline-block;
    padding: 20px 20px;
    a {
      font-weight: bold;
      color: $textWhite;
      text-decoration: none;
      &:hover {
        color: $textBlack;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .nav-elements,
  .nav-button {
    display: none;
  }
}
